.sidenav {
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    margin-top: auto;
  }
}

.container {
  display: flex;
  width: 100%;
  .mat-drawer-content {
    display: flex !important;
  }
  &__accounts,
  &__transactions {
    display: flex;
    flex-direction: column;
  }
}
