.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 2rem;
      color: #373737;
    }
    &__close {
      font-size: 35.36px;
      width: 35.36px;
      height: 35.36px;
      cursor: pointer;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  &__text {
    font-family: 'Space Grotesk', sans-serif;
  }
  &__outline {
    border-color: red;
    width: 100%;
  }

  &__types {
    display: flex;
    gap: 1rem;
  }
  .type {
    display: flex;
    margin: 2rem 0;
    height: 49px;
    gap: 1rem;
    &__container {
      cursor: pointer;
      border: 1px solid rgba(55, 55, 55, 0.5);
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 1rem;
      &__content {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 35px;
          height: 35px;
        }
      }
      span {
        font-family: 'Space Grotesk';
        font-size: 1.25rem;
        color: #373737;
        font-weight: 400;
      }
    }
    .active {
      background: #f9f9f9;
    }
    .notActive {
      opacity: 50%;
      background: rgba(255, 255, 255, 0.6);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 2rem;
  padding-left: 1rem;
  &__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    &__save {
      background-color: #b9e2e6;
    }
    button {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
}
