<section class="wrapper">
  <section>
    <section class="container">
      <div class="header">
        <span class="header__title"> Add Transaction </span>
        <mat-icon class="header__close" (click)="onNoClick()">close</mat-icon>
      </div>
    </section>
    <form [formGroup]="transactionForm" class="form">
      <mat-radio-group class="type" formControlName="type">
        <mat-radio-button
          mat-button
          value="expense"
          class="type__container"
          [class.active]="typeSet === 'expense'"
          [class.notActive]="typeSet !== 'expense'"
          (click)="setType('expense')"
        >
          <section class="type__container__content">
            <img src="../../../../assets/expense.png" alt="" />
            <span>Expenses</span>
          </section>
        </mat-radio-button>
        <mat-radio-button
          mat-button
          value="income"
          class="type__container"
          [class.active]="typeSet === 'income'"
          [class.notActive]="typeSet !== 'income'"
          (click)="setType('income')"
        >
          <section class="type__container__content">
            <img src="../../../../assets/income.png" alt="" />
            <span>Income</span>
          </section>
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline" class="form__outline">
        <mat-label class="form__text">Title</mat-label>
        <input matInput formControlName="title" class="form__text" />
        <mat-error *ngIf="transactionForm.controls['title'].invalid"
          >Please enter a title that doesn't exceed 128 characters</mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="form__outline"
        *ngIf="displayCategories as categories"
      >
        <mat-label class="form__text">Category</mat-label>
        <mat-select class="form__text" formControlName="category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.title"
            class="form__text"
          >
            <div class="form__text">
              {{ category.title | titlecase }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__outline">
        <mat-label class="form__text"
          >Amount in {{ getCurrencySymbol() }}</mat-label
        >
        <input matInput formControlName="amount" class="form__text" />
        <mat-error *ngIf="transactionForm.controls['amount'].invalid"
          >Please enter a number that least 0.1</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__outline">
        <mat-label class="form__text">Payment Date</mat-label>
        <input
          matInput
          formControlName="createdAt"
          class="form__text"
          [matDatepicker]="picker"
          [max]="today()"
        />
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form__outline">
        <mat-label class="form__text">Description</mat-label>
        <input matInput formControlName="description" class="form__text" />
        <mat-error *ngIf="transactionForm.controls['description'].invalid"
          >Please enter description that doesn't exceed 256
          characters</mat-error
        >
      </mat-form-field>
    </form>
  </section>
  <section class="footer">
    <section class="footer__container">
      <button
        mat-button
        class="footer__container__save"
        [disabled]="formIsInValid()"
        (click)="createTransaction()"
      >
        Save
      </button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </section>
  </section>
</section>
