<section class="wrapper__container">
  <mat-card class="type font" (click)="setTransActionsType('income')">
    <img src="../../../../assets/income.png" alt="" />
    Income
  </mat-card>
  <mat-card class="type font" (click)="setTransActionsType('expense')">
    <img src="../../../../assets/expense.png" alt="" />
    Expenses
  </mat-card>
  <mat-card class="type add font">
    <img src="../../../../assets/add.png" alt="" />
    Add Transaction
  </mat-card>
  <mat-card class="type add font">
    <img src="../../../../assets/add.png" alt="" />
    Add Account
  </mat-card>
</section>
