.categories {
    margin-left: auto;
}

.app-name {
  font-family: 'Alata', sans-serif;
}

.link {
  font-family: 'Space Grotesk', sans-serif;
}

.active {
  border-bottom: 1px solid black;
  border-radius: 0;
}
