<mat-toolbar>
  <h1 class="app-name">Budgetify</h1>

  <button
    mat-button
    class="link categories"
    routerLink="categories"
    routerLinkActive="active"
  >
    Categories
  </button>
  <button mat-button class="link" routerLinkActive="active">Statistic</button>
  <button mat-button class="link" routerLinkActive="active">Admin</button>
  <button mat-button>
    <mat-icon>account_circle</mat-icon>
    <span class="link">
      {{ userName$ | async }}
    </span>
  </button>
</mat-toolbar>
